@import url('https://fonts.googleapis.com/css2?family=Monda&family=Montserrat&display=swap');

html {
  scroll-behavior: smooth;
}
 

* {
	font-family: 'Monda', sans-serif;
}


p {
	font-family: 'Montserrat', sans-serif;
}

.floating-back {
	position: relative;
	margin-top: -95vh;
	margin-left: 0;
	cursor: pointer;
}

.grades {
	margin-bottom: 2vh;
}

.columns div {
	margin-left: 2vw;
}